@model xChatWeb.Models.VMReportFilter

@{
    ViewBag.Title = "Index";
}

@{
    var marketList = new List<SelectListItem>();

    foreach (var list in (List<xChatEntities.EntityMaster>)ViewBag.ListMarket)
    {
        marketList.Add(new SelectListItem() { Text = list.EntityMasterName, Value = list.EntityMasterId });
    }

}


<div class="card">
    <div class="card-header" style="height:85%">
        Reporte
        </div>

    <div class="card-body">
        @using (Ajax.BeginForm("ExecuteReport", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "tblReport",
            LoadingElementId = "loading"
        }))
        {
            @*<div>
                @Html.LabelFor(model => model.TituloFiltro, htmlAttributes: new { @class = "control-label" })
            </div>*@
            @*Filtro Mercado.*@
            <div class="form-group row">
                <div class="col-md-4 " style="text-align:right;">
                    @Html.LabelFor(model => model.MarketId, htmlAttributes: new { @class = "col-form-label-sm" })
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.MarketId, marketList, new { @class = "form-control" })
                </div>
            </div>

            @*Filtro Persona autocompletar.*@
            <div class="form-group row">
                <div class="col-md-4 " style="text-align:right;">
                    @Html.LabelFor(model => model.AgentName, htmlAttributes: new { @class = "col-form-label-sm" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.AgentName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @*Filtro Usuario autocompletar.*@
            <div class="form-group row">
                <div class="col-md-4 " style="text-align:right;">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "col-form-label-sm" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @*@*Filtro Fecha Inicio.*@
            <div class="form-group row">
                <div class="col-md-4 " style="text-align:right;">
                    @Html.LabelFor(model => model.ConversationDateStart, htmlAttributes: new { @class = "col-form-label-sm" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ConversationDateStart, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => model.ConversationDateStart, "", new { @class = "form-control" })*@
                </div>
            </div>

            @*Filtro Fecha Final.*@
            <div class="form-group row">
                <div class="col-md-4 " style="text-align:right;">
                    @Html.LabelFor(model => model.ConversationDateEnd, htmlAttributes: new { @class = "col-form-label-sm" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ConversationDateEnd, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.ValidationMessageFor(model => model.ConversationDateEnd, "", new { @class = "form-control" })*@
                </div>
            </div>

            @*Aplicar.*@
            <div class="form-group row">
                <div>
                    <input type="submit" value="Aplicar" class="btn btn-primary" />
                </div>
            </div>
            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
        }

    </div>

    <img src="~/Content/Imagenes/Loading_1.gif" style="display:none" id="loading" />

    @*</div>*@

    <div class="table-responsive" id="tblReport">


        </div>

        <div id="divConversation">

        </div>

    @*</div>*@

</div>
@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script>

        $(function () {

            $("#AgentName").autocomplete({source: "/Report/SearchAgenteName"});

        })

    </script>

}

