<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/stylechat.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />

    <style type="text/css">
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            /*width: 100%;*/
        }

        .haveMessageActive {
            background-color: #69b74f !important;
            border-radius: 50% !important;
            /*width: 1px !important;
            height: 1px !important;*/
            padding: 8px !important;
        }

        .online_icon {
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: #4cd137;
            border-radius: 50%;
            /*bottom: -1.1em;*/
            /*right: 0.4em;*/
            border: 1.5px solid white;
        }

        .Disconectonline_icon {
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: red;
            border-radius: 50%;
            /*bottom: -1.1em;*/
            /*right: 0.4em;*/
            border: 1.5px solid white;
        }
    </style>

    <style>
        /* Center the loader */
        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* Add animation to "page content" */
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

        @@-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0px;
                opacity: 1
            }
        }

        @@keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }
        }

        #myDiv {
            display: none;
            text-align: center;
        }

        .action_menu {
            z-index: 1;
            position: absolute;
            padding: 15px 0;
            background-color: rgba(0,0,0,0.5);
            color: white;
            border-radius: 15px;
            top: 35px;
            right: 15px;
            display: none;
        }

            .action_menu ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                .action_menu ul li {
                    width: 100%;
                    padding: 10px 15px;
                    margin-bottom: 5px;
                }

                    .action_menu ul li:hover {
                        cursor: pointer;
                        background-color: rgba(0,0,0,0.2);
                    }

        /*param el chat*/

        .container_chat {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            width: auto;
        }

        .darker_chat {
            border-color: #ccc;
            background-color: #ddd;
        }

        .container_chat::after {
            content: "";
            clear: both;
            display: table;
        }

        .container_chat img {
            float: left;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

            .container_chat img.right {
                float: right;
                margin-left: 20px;
                margin-right: 0;
            }

        .time-right {
            float: right;
            color: #aaa;
        }

        .time-left {
            float: left;
            color: #999;
        }
    </style>

    <style type="text/css">
        .disableuser {
            pointer-events: none !important;
            opacity: 0.4;
        }

        .disableitem {
            pointer-events: none !important;
            opacity: 0.4;
        }
    </style>
</head>
<body style="margin:5px">
    <div class="container-fluid" style="min-height: 100%; height: auto !important; height: 100%!important;">
        @RenderBody()
    </div>



    <script type="text/javascript">

        function Fn_CallMethod(url, data, success, error, complete) {
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                datatype: "json",
                success: success,
                error: error,
                complete: complete,
                cache: false,
                traditional: true
            });
        }

        function Fn_LoadHandlebars(templateId, context) {
            var source = document.getElementById(templateId).innerHTML;
            var template = Handlebars.compile(source);
            return template(context);
        }

    </script>


    <script src="~/Scripts/Base.js"></script>
    <script src="~/Content/handlebars/handlebars-v4.0.12.js"></script>
    @RenderSection("scripts", required: false)


    <script type="text/x-handlebars-template" id="messageUser">
        {{# each lstMessageUser}}
        <div class="row message-previous">
            <div class="col-sm-12 previous">

            </div>
        </div>
        <div class="row message-body">
            <div class="col-sm-12 message-main-receiver">
                <div class="receiver" style="background:#e9efed">
                    <div class="message-text" style="font-family: sans-serif">
                        {{message}}
                    </div>
                    <span class="message-time pull-right">
                        @*Sun*@
                    </span>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <script type="text/x-handlebars-template" id="messageManager">

        {{# each lstMessageManager}}
        <div class="row message-body">
            <div class="col-sm-12 message-main-sender">
                <div class="sender">
                    <div class="message-text" style="font-family: sans-serif">
                        {{message}}
                    </div>
                    <span class="message-time pull-right">
                        @*Sun*@
                    </span>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <script type="text/x-handlebars-template" id="userActive">
        {{# each lstUsers}}
        {{#ifEquals Status 2 }}
        <a href="#" class="listUser chat-list-item d-flex flex-row w-100 p-2 border-bottom disableuser" id="{{userId}}" data-statusid="{{Status}}" style="color:black">
            <div class="chat-list-item d-flex flex-row w-100 p-2" data-number="{{userId}}" id="lstUserData">
                <img src="../Content/Imagenes/imgdefault.png" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;">
                <div class="w-50">
                    <div class="name" style="font-weight:500">{{userName}}</div>
                    <div class="small last-message" style="display:none"><i class=""></i> Este es el ultimo mensaje</div>
                </div>
                <div class="flex-grow-1 text-right">
                    <div class="small time" style="display:none">00/00/0000</div>
                    {{#if ChatIsReadForManager}}
                    <div class="small last-message"><i class=""></i></div>
                    {{else}}
                    <div class="small last-message "><i class="fa fa-check haveMessageActive" style="color:white; margin-top:8px"></i></div>
                    {{/if}}
                </div>
            </div>
        </a>
        {{else}}
        <a href="#" class="listUser chat-list-item d-flex flex-row w-100 p-2 border-bottom" id="{{userId}}" data-statusid="{{Status}}" style="color:black">
            <div class="chat-list-item d-flex flex-row w-100 p-2" data-number="{{userId}}" id="lstUserData">
                <img src="../Content/Imagenes/imgdefault.png" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;">
                <div class="w-50">
                    <div class="name" style="font-weight:500">{{userName}}</div>
                    <div class="small last-message" style="display:none"><i class=""></i> Este es el ultimo mensaje</div>
                </div>
                <div class="flex-grow-1 text-right">
                    <div class="small time" style="display:none">00/00/0000</div>
                    {{#if ChatIsReadForManager}}
                    <div class="small last-message"><i class=""></i></div>
                    {{else}}
                    <div class="small last-message "><i class="fa fa-check haveMessageActive" style="color:white; margin-top:8px"></i></div>
                    {{/if}}
                </div>
            </div>
        </a>
        {{/ifEquals}}
        {{/each}}
    </script>

    <script type="text/x-handlebars-template" id="userActiveViewManager">
        {{# each lstUsers}}
        {{#ifEquals Status 2 }}
        <div style="display: flex;">
            <div class="col-sm-11" style="float:left">
                <a href="#" class="listUser chat-list-item d-flex flex-row w-100 p-2 border-bottom" id="{{userId}}" data-statusid="{{Status}}" style="color:black">
                    <div class="chat-list-item d-flex flex-row w-100 p-2" data-userid="{{userId}}" data-username="{{userName}}" data-chatid="{{ChatId}}" data-statusid="{{Status}}" id="lstUserData" draggable="true" ondragstart="drag(event)">
                        <img src="../Content/Imagenes/imgdefault.png" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;">
                        <div class="w-50">
                            <div class="name" style="font-weight:500">{{userName}}</div>
                            <div class="small last-message" style="display:none"><i class=""></i> Este es el ultimo mensaje</div>
                        </div>
                        <div class="flex-grow-1 text-right">
                            <div class="small time" style="display:none">00/00/0000</div>
                            {{#if ChatIsReadForManager}}
                            <div class="small last-message"><i class=""></i></div>
                            {{else}}
                            <div class="small last-message "><i class="fa fa-check haveMessageActive" style="color:white; margin-top:8px"></i></div>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
            <div style="float:left;cursor: pointer">
                <div class="dropdown" style="margin-top:10px">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                    </span>
                    <ul class="dropdown-menu" style="text-align:center">
                        <li><a class="disableitem" href="#" data-chatvalue="{{ChatId}}" data-nameuser="{{userName}}" data-option="0">Atender</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{else}}
        <div style="display: flex;">
            <div class="col-sm-11" style="float:left">
                <a href="#" class="listUser chat-list-item d-flex flex-row w-100 p-2 border-bottom" id="{{userId}}" data-statusid="{{Status}}" style="color:black">
                    <div class="chat-list-item d-flex flex-row w-100 p-2" data-userid="{{userId}}" data-username="{{userName}}" data-chatid="{{ChatId}}" data-statusid="{{Status}}" id="lstUserData" draggable="true" ondragstart="drag(event)">
                        <img src="../Content/Imagenes/imgdefault.png" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;">
                        <div class="w-50">
                            <div class="name" style="font-weight:500">{{userName}}</div>
                            <div class="small last-message" style="display:none"><i class=""></i> Este es el ultimo mensaje</div>
                        </div>
                        <div class="flex-grow-1 text-right">
                            <div class="small time" style="display:none">00/00/0000</div>
                            {{#if ChatIsReadForManager}}
                            <div class="small last-message"><i class=""></i></div>
                            {{else}}
                            <div class="small last-message "><i class="fa fa-check haveMessageActive" style="color:white; margin-top:8px"></i></div>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
            <div style="float:left;cursor: pointer">
                <div class="dropdown" style="margin-top:10px">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                    </span>
                    <ul class="dropdown-menu" style="text-align:center">
                        <li><a href="#" data-chatvalue="{{ChatId}}" data-nameuser="{{userName}}" data-option="1">Atender</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{/ifEquals}}
        {{/each}}
    </script>

    <script type="text/x-handlebars-template" id="AgentsHandlebars">
        {{# each lstAgents}}

        <a href="#" class="listAgent chat-list-item d-flex flex-row w-100 p-2 border-bottom" id="btnconnect" style="color:black" data-AgentValueId="{{AgentId}}" data-IsAgent="{{AccountManagerIsAgent}}" data-agentname="{{AccountAgentName}}" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="chat-list-item d-flex flex-row w-100 p-2" data-id="{{AgentId}}" id="lstAgentData">
                <img src="../Content/Imagenes/imgdefault.png" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;">
                <div class="w-50">
                    <div class="name" style="font-weight:500">{{AccountAgentName}}</div>
                    <div class="small last-message"><i class=""></i></div>
                </div>
                <div class="flex-grow-1 text-right">
                    {{#if AccountManagerIsActive}}
                    <div class="small last-message" style="margin-right: 10px;"><span id="idOnline" class="online_icon"></span></div>
                    {{else}}
                    <div class="small last-message" style="margin-right: 10px;">
                        <span id="idOnline" class="Disconectonline_icon"></span>
                    </div>
                    {{/if}}
                </div>
            </div>
        </a>

        {{/each}}
    </script>



</body>
</html>
