@model xChatWeb.Models.VMReportFilter

<div>
    <table class="table">
        <tr>
            <th>@Html.LabelFor(model => model.ColumnReport.Agente)</th>
            <th>@Html.LabelFor(model => model.ColumnReport.Usuario)</th>
            <th>@Html.LabelFor(model => model.ColumnReport.FechaUltimoMensaje)</th>
        </tr>
        <tbody>
            @if (Model.ReportMain != null)
            {
                foreach (xChatEntities.ReportChat d in Model.ReportMain)
                {
                    <tr>
                        <td>@d.AccountManagerName</td>

                        <td>
                            @Ajax.ActionLink(@d.UserName, "ConversationDetail", "Report", new
                       {
                           agentId = d.AccountManagerId
                                   , userId = d.UserId
                                   , dateStart = Model.ConversationDateStart.ToString("yyyyMMdd")
                                   , dateEnd = Model.ConversationDateEnd.ToString("yyyyMMdd")
                                   , agentName = d.AccountManagerName
                                   , userName = d.UserName
                       }, new AjaxOptions {
                           HttpMethod = "POST"
                           //, OnSuccess = "OnSucessProcess"
                           //, OnFailure = "OnFailureProcess"
                           , UpdateTargetId = "divConversation"
                           , InsertionMode = InsertionMode.Replace
                           , LoadingElementId = "loading"

                       })
                        </td>

                        <td>@d.LastMessageDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>


</div>

@section scripts {

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">
        function OnSucessProcess() {
            //$("#popup").modal();
        }
    </script>

}