<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/stylechat.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />

    <style type="text/css">
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }

        .haveMessageActive {
            background-color: #69b74f !important;
            border-radius: 50% !important;
            width: 1px !important;
            height: 1px !important;
            padding: 8px !important;
        }

        .online_icon {
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: #4cd137;
            border-radius: 50%;
            bottom: 0.2em;
            right: 0.4em;
            border: 1.5px solid white;
        }

        .Disconectonline_icon {
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: red;
            border-radius: 50%;
            bottom: 0.2em;
            right: 0.4em;
            border: 1.5px solid white;
        }
    </style>

    <style>
        /* Center the loader */
        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 150px;
            height: 150px;
            margin: -75px 0 0 -75px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* Add animation to "page content" */
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }

        @@-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0px;
                opacity: 1
            }
        }

        @@keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }
        }

        #myDiv {
            display: none;
            text-align: center;
        }

        .action_menu {
            z-index: 1;
            position: absolute;
            padding: 15px 0;
            background-color: rgba(0,0,0,0.5);
            color: white;
            border-radius: 15px;
            top: 35px;
            right: 15px;
            display: none;
        }
        .action_menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .action_menu ul li {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 5px;
        }
        .action_menu ul li:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,0.2);
        }

        /*param el chat*/

        .container_chat {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            width:auto;
        }

        .darker_chat {
            border-color: #ccc;
            background-color: #ddd;
        }

        .container_chat::after {
            content: "";
            clear: both;
            display: table;
        }

        .container_chat img {
            float: left;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

            .container_chat img.right {
                float: right;
                margin-left: 20px;
                margin-right: 0;
            }

        .time-right {
            float: right;
            color: #aaa;
        }

        .time-left {
            float: left;
            color: #999;
        }
    </style>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top" style="display:none">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Chat Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
    <div style="width:100%; height:100%; position:absolute">
        @RenderBody()
        @*<hr />*@
        @*<footer style="display:none">
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script type="text/javascript">
        function Fn_CallMethod(url, data, success, error, complete) {
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                datatype: "json",
                success: success,
                error: error,
                complete: complete,
                cache: false,
                traditional: true
            });
        }
        function Fn_LoadHandlebars(templateId, context) {
            var source = document.getElementById(templateId).innerHTML;
            var template = Handlebars.compile(source);
            return template(context);
        }
    </script>
    <script src="~/Scripts/Base.js"></script>
    <script src="~/Content/handlebars/handlebars-v4.0.12.js"></script>
    @RenderSection("scripts", required: false)

    @*<script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
        <script src="@xChatEntities.Constants.Url.SignalRHub"></script>*@

    @*<script>
            $(function ()
            {
                $.support.cors = true;

                $.connection.hub.url = "@xChatEntities.Constants.Url.SignalR";

                var Counter = $.connection.counterHub;

                Counter.client.enterUser = function () {
                    alert("entro alguien!");
                };

                $.connection.hub.start().done();

            });
        </script>*@

    <script type="text/x-handlebars-template" id="messageUser">
        @*{{# each lstMessageUser}}
            <div class="col-md-12 incoming_msg">
                <div class="received_msg">
                    <div class="received_withd_msg">
                        <p>{{message}}</p>
                    </div>
                </div>
            </div>
            {{/each}}*@
        {{# each lstMessageUser}}
        <div class="row message-previous">
            <div class="col-sm-12 previous">

            </div>
        </div>
        <div class="row message-body">
            <div class="col-sm-12 message-main-receiver">
                <div class="receiver">
                    <div class="message-text">
                        {{message}}
                    </div>
                    <span class="message-time pull-right">
                        @*Sun*@
                    </span>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <script type="text/x-handlebars-template" id="messageManager">
        @*{{# each lstMessageManager}}
            <div class="col-md-12 incoming_msg">
                <div class="outgoing_msg">
                    <div class="sent_msg">
                        <p>{{message}}</p>
                    </div>
                </div>
            </div>
            {{/each}}*@
        {{# each lstMessageManager}}
        <div class="row message-body">
            <div class="col-sm-12 message-main-sender">
                <div class="sender">
                    <div class="message-text">
                        {{message}}
                    </div>
                    <span class="message-time pull-right">
                        @*Sun*@
                    </span>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <script type="text/x-handlebars-template" id="userActive">
        {{# each lstUsers}}
        <a href="#" class="listUser" id="{{userId}}">
            <div class="row sideBar-body" data-number="{{userId}}" id="lstUserData">
                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                    <div class="avatar-icon">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </div>
                </div>
                <div class="col-sm-9 col-xs-9 sideBar-main">
                    <div class="row">
                        <div class="col-sm-8 col-xs-8 sideBar-name">
                            <span class="name-meta">
                                {{userName}}
                            </span>
                        </div>
                        {{#if ChatIsReadForManager}}
                        <div class="col-sm-4 col-xs-4 pull-right sideBar-time" style="margin-top: 10px;">
                            <span class="time-meta pull-right">
                                @*{{ChatIsReadForManager}}*@
                            </span>
                        </div>
                        {{else}}
                        <div class="col-sm-4 col-xs-4 pull-right sideBar-time haveMessageActive" style="margin-top: 10px;">
                            <span class="time-meta pull-right">
                                @*{{ChatIsReadForManager}}*@
                            </span>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </a>

        {{/each}}
    </script>

</body>
</html>
